@charset "utf-8";
*{margin: 0;padding: 0;}
body{margin:0 auto!important;padding:0;max-width:640px;min-width:320px;background:#fff!important;overflow-x:hidden;}
body,button,input,select,textarea{color:#505050;font:12px/1.5 Microsoft Yahei;}
html{font-size:15.625vw;}
@media screen and (min-width:640px){
	html{font-size:100px;}
}
p{line-height:1.8;font-size:0.22rem}
i{font-style:normal;}
em{font-style:normal;}
h1,h2,h3,h4,h5,h6{font-size:20px;}
li,ol,ul{list-style:none;}
a{outline:0;color:#2a2a2a;text-decoration:none;}
fieldset,img{border:0;}
textarea{resize:none;}
img{max-width:100%;vertical-align:top;display:block;margin:0 auto;}
article,aside,footer,header,nav,section{display:block;overflow:hidden;}
a[title='站长统计']{display:none;}
.left,.fl{float:left;}
.right,.fr{float:right;}
.mr3{margin:0 3%;}
.cb{clear:both;}
.dn{display:none;}
.textc{text-align:center;}
.textl{text-align:left;}
.re{position:relative;}
.ab{position:absolute;}
.over{overflow:hidden;}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;*zoom:1;}
/*面包屑导航*/
.pos{font-size:0.25rem;color:#333;font-weight:normal;background:#f4f4f4;padding:3% 0 3% 3%;}

/* 首页头部head */
.topDiv{max-width:640px;overflow:hidden;width:100%;margin:0 auto;background-color:#403748;}
.topDiv .zixun{float:left;width:15%;}
.topDiv .zuoce{float:left;width:70%;color:white;font-size:0.25rem;text-align:center;/* padding-top:4%; */}
.navA{float:left;width:15%;}
.index_logo img{position:relative;top:0.1rem;height:0.5rem;}
.index_logo{height:0.7rem;}
.newHead .zixun img{width: 0.7rem; margin-top: 0.16rem; margin-right: 0.2rem;}
.topDiv .zixun img{width: 0.7rem; margin-top: 0.16rem; margin-right: 0.2rem;}
/*内容页头部*/
.newHead{max-width:640px;overflow:hidden;width:100%;margin:0 auto;background:#42394a;}
.newHead .navBtn,.newHead .zixun{float:left;width:15%;}
.newHead .logo{float:left;width:70%;}
.project_skill h2,.project_anli h2,.project_ask h2,.project_banli h2,.project_bzixun h2,.project_zixun h2,.ask_anli h2,.ask_content h2,.ask_hospital h2{font-size:0.45rem;padding:6% 0;line-height:1.3;text-align:center;}

/*foot*/

/* footer{margin:0.5rem 0 1rem;} */
.end ul{width:60%;display:flex;margin:5% auto 10%}

.end ul li:last-child{border-right:0}
.Mylike h3{font-size:0.5rem;color:#943ebe;line-height:1.3;text-align:center;}
.Mylike h3 p{font-size:0.3rem;font-weight:normal;color:#000}
.Mylike h3 span{display:block;font-size:0.25rem;color:#d4d4d4;font-weight:normal}
.Mylike ul li p{font-size:0.25rem;font-weight:bold;color:#333;margin-bottom:1%}
.Mylike ul li p img{display:inline-block;width:0.3rem;vertical-align:middle}
.Mylike ul li:nth-child(2) p{font-size:0.23rem;color:#666;font-weight:normal}
.Mylike-foot{padding:1rem 0;background-color:#2c0949;margin-top:0.3rem;margin-bottom:0.4rem;}
body .new_foot{height:8%;max-width:640px;margin:0 auto;background:#000;}
.new_foot li{width:100%;height:100%;position:relative;}
.new_foot li a{display:block;float:left;width:20%;height:100%;}
.new_foot li a i{display:block;height:70%}
.new_foot li a span{display:block;font-size:1em;text-align:center;color:#fff;}
.new_foot li.li1 a:nth-child(1) i{background:url("../../image/foot_box1.png") no-repeat center bottom;background-size:55%;}
.new_foot li.li1 a:nth-child(2) i{background:url("../../image/foot_box2.png") no-repeat center center;background-size:60%;}
.new_foot li.li1 a:nth-child(3) i{background:url("../../image/foot_box3.png") no-repeat center center;background-size:60%;}
.new_foot li.li1 a:nth-child(4) i{background:url("../../image/foot_box4.png") no-repeat center center;background-size:54%;}
.new_foot li.li1 a:nth-child(5) i{background:url("../../image/foot_box5.png") no-repeat center center;background-size:43%;}
@media screen and (min-width:640px){
	.new_foot li a i{height:6em}
	.new_foot li{height:8em;}
}

/*地区医院底部*/
.hos_foot{background:#2d0949;box-shadow:rgba(0,0,0,0.3) 0 0 16px 3px;height: 10%;width:100%;/* margin:0!important; */padding:0!important;position:fixed;bottom:0;font-size:12px;height:1.2rem;z-index:999;overflow:visible!important;max-width:640px;margin:0 auto;box-shadow:none;}
.hos_foot li.li2{transition:all 300ms linear;-moz-transiton:all 300ms linear;-webket-transition:all 300ms linear;-o-transition:all 300ms linear;}
.hos_foot li{width:96%;position:relative;height:1.1rem;padding:0.1rem 2% 0 2%;}
.hos_foot li a{display:block;float:left;width:17%;}
.hos_foot li a i{display:block;height:0.6rem}
.hos_foot li a span{display:block;font-size:0.28rem;text-align:center;color:#fff;}
.hos_foot li.li1 a:nth-child(1) i{background:url("https://cdn.jsdelivr.net/gh/hjfy937/hjfy937.github.io/image/menu_list_logo.png") no-repeat center center;background-size:46%;}
.hos_foot li.li1 a:nth-child(2){width:20%;}
.hos_foot li.li1 a:nth-child(2) i{background:url("https://cdn.jsdelivr.net/gh/hjfy937/hjfy937.github.io/image/foot_box2.png") no-repeat center center;background-size:46%;}
.hos_foot li.li1 a:nth-child(3){position:absolute;width:22%;left:40%;bottom:2%;}
.hos_foot li.li1 a:nth-child(3) img{width:92%;}
.hos_foot li.li1 a:nth-child(3) sup{position:absolute;top:20%;right:22%;font-style:normal;background:red;color:#fff;padding:0 2px;font-size:0.2rem;border-radius:7px;animation:jump 2s infinite;}
.hos_foot li.li1 a:nth-child(4){margin-left:28%;}
.hos_foot li.li1 a:nth-child(4) i{background:url("https://cdn.jsdelivr.net/gh/hjfy937/hjfy937.github.io/image/guochao.png") no-repeat center center;background-size:45%;}
/* .hos_foot li.li1 a:nth-child(4) i{background:url("../../images/yh-ico.png") no-repeat center center;background-size:45%;} */
.hos_foot li.li1 a:nth-child(5) i{background:url("https://cdn.jsdelivr.net/gh/hjfy937/hjfy937.github.io/image/so.png") no-repeat center center;background-size:38%;}
.hos_foot .jy em{background: red none repeat scroll 0 0;border-radius: 1em;color: #fff;display: inline-block;font-size: 14px;font-style: normal;font-weight: 700;height: 20px;left: 59%;line-height: 18px;position: absolute;text-align: center;top: 17%;width: 20px;}
.moves img{-webkit-animation:pulse 1s .2s infinite both;animation:pulse 1s 1s infinite both;-moz-animation:pulse 1s .2s infinite both;-o-animation:pulse 1s .2s infinite both;-ms-animation:pulse 1s .2s infinite both;}
@keyframes pulse{
	0%{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
	50%{-webkit-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1)}
	100%{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
}
@-webkit-keyframes pulse{
	0%{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
	50%{-webkit-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1)}
	100%{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
}
@-webkit-keyframes jump{
	0%,100%,20%,50%,80% {
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
	40% {
		-webkit-transform: translateY(-4px);
		transform: translateY(-4px)
	}
	60% {
		-webkit-transform: translateY(-2px);
		transform: translateY(-2px)
	}
}
.footer_dt dl{height:2.7rem;}
.footer_dt dl dt{width:3rem;padding-left:2%;padding-top:2%;}
.footer_dt dl dt img{box-shadow:0 0 0.2rem rgba(0,0,0,0.4);border-radius:0.14rem;overflow:hidden;width:95%;}
.footer_dt dl dd{width:3.1rem;float:right;position:relative;}
.footer_dt dl dd p{position:absolute;width:2.6rem;right:0.16rem;top:0.8rem;font-size:0.2rem;line-height:1.3;color:#000000;}
.footer_dt dl dd p a{color:#000;}
.footer_dt dl dd p:last-child{top:1.7rem;}
.footer_c{height:1.6rem;text-align:center;font-size:0.3rem;color:#939393;padding-bottom:7%;border-top:1px solid #aaaaaa;}


/*右侧悬浮*/
.right_c{position:fixed; z-index: 100; right: 1%; top: 25%; width: 0.86rem;}
.right_c a{display:block; margin-bottom: 0.24rem;}
.right_c a img{width: 75%;}

/******sitemap侧栏开始******/
.menu_nav{max-width:960px!important;/* width: 87%; */font-size:0.4rem;color:#2a2a2a;font-weight:100;height:100%;/* position: fixed; */top:0;z-index:999999;overflow-x:auto;left:-640px}
.menu_nav .headerxm{height:0.9rem;line-height:0.9rem;background:#000;text-align:center;position:relative}
.menu_nav .headerxm .xmfh{display:block;width:10%;position:absolute;left:5%;top:12%;z-index:1}
.menu_nav .nav_text p{font-size:0.4rem!important;width:100%;height:1rem;line-height:1rem;border-bottom:1px solid #fff;text-align:center;position:relative;}
.menu_nav .nav_text p span{display:block;width:6%;height:100%;position:absolute;right:5%;top:0;z-index:1}
.menu_nav .nav1_li .nav1_p span.jj1{background:url(https://cdn.jsdelivr.net/gh/hjfy937/hjfy937.github.io/image/jia2.png) center center no-repeat;background-size:100%;}
.menu_nav .nav1_li .nav1_p.active span.jj1{background:url(https://cdn.jsdelivr.net/gh/hjfy937/hjfy937.github.io/image/jian2.png) center center no-repeat;background-size:100%;}
.menu_nav .nav2_li .nav2_p span.jj2{background:url(https://cdn.jsdelivr.net/gh/hjfy937/hjfy937.github.io/image/jia2.png) center center no-repeat;background-size:100%;}
.menu_nav .nav2_li .nav2_p.active span.jj2{background:url(https://cdn.jsdelivr.net/gh/hjfy937/hjfy937.github.io/image/jian2.png) center center no-repeat;background-size:100%;}
.menu_nav .nav_text p span img{vertical-align:middle}
.menu_nav .nav_text span.jj2{background:url(https://cdn.jsdelivr.net/gh/hjfy937/hjfy937.github.io/image/jr.png) center center no-repeat;background-size:100%;}
.menu_nav .nav2_li p{background:#fff;border-bottom:1px solid #989797;text-align:center;}
.menu_nav .nav3_text{background:#E1E1E1;overflow:hidden}
.menu_nav .nav3_text li{width:50%;float:left;margin:2% 0}
.menu_nav .nav3_text li a{display:block;width:80%;height:0.74rem;line-height:0.74rem;color:#555554;text-align:center;border-radius:0.1rem;border:1px solid #919191;margin-left:14%;}
.menu_nav .nav3_text li:nth-child(2n) a{margin-left:5%;}
.menu_nav .nav2_ul,.menu_nav .nav3_text{display:none}
.hos_doctor{background:#eeedef;padding:4% 0 0;}
.hos_doctor .hos_doo{display: none}
.hos_doctor .hos_doo.on{display: block}
.hos_doctor section{background:#eeedef;padding:4% 0;overflow:hidden;/* width:94%; */margin:0 auto 4%;background:#fff;position:relative;height:3.7rem;}
.hos_doctor section .left{width:55%;}
.hos_doctor section:last-child{margin-bottom:0}
.hos_doctor .ms{width:50%;position:absolute;top:4%;right:4%}
.hos_doctor .ms .title{background:url('../../images/bj_04.jpg') no-repeat;width:42%;margin-left:68%;background-size:100%;font-size:0.2rem;color:#fff;text-align:center;padding:2.5% 0 4.5%}
.hos_doctor .ms .title a{color:#fff}
.doctor_xm{margin: 4% 0;}
.doctor_xm ul li a{width: 0.99rem; height: 0.54rem; line-height: 0.54rem; text-align: center; background:#f2f2f2; float: left; margin-right: 0.08rem; margin-bottom: 0.24rem; font-size: 0.24rem; color:#4f4f4f;padding: 0 0.1rem;
}
.doctor_xm ul li:nth-child(5n){margin-right: 0;}
.doctor_xm ul li a:hover{background-color:#2d0949;color:white}
.hos_doctor .ms h3{font-size:0.28rem;color:#333333;line-height:140%;margin-top:-13%;font-weight:bold}
.hos_doctor .ms h4{font-size:0.2rem;color:#a54ab9;line-height:120%;margin-top:2%;}
.hos_doctor .ms h5{margin-top:2%}
.hos_doctor .ms h5 img{width:38%;display:inline-block;vertical-align:middle;margin-right:2%}
.hos_doctor .ms h5 p{display:inline-block;font-size:0.18rem;color:#f74d75;vertical-align:middle;font-weight:normal}
.hos_doctor .ms p.p3{font-size:0.22rem;color:#8f59b8;margin-top:5%;}
.hos_doctor .ms p.p3 span{display:block;width:0.9rem;float:left;border:1px solid #966AB7;border-radius:0.3rem;color:#000;text-align:center;margin-right:2%;font-size:0.2rem;height:1.19rem;overflow:hidden;}
.hos_doctor .ms p.p3 span b{font-size:0.25rem;font-weight:normal;}
.hos_doctor .ms p.p3 span:nth-child(3){margin-right:0;}
.hos_doctor aside{font-size:0.22rem;color:#333333;clear:both;padding-top:4%;}
.hos_doctor aside span{font-weight:bold;}
.hos_doctor .click{margin-top:3%}
.hos_doctor .click a{width:48%;float:left;background:#a54ab9;border-radius:2em;font-size:0.24rem;color:#fff;padding:3% 0;text-align:center;}
.hos_doctor .click a:last-child{margin-left:2%;background:#61508a}
.communication{background:url(http://res.bjmylike.com/wap/images/2018/experts/re_03.jpg);padding:6% 0;}
.communication h3{font-size:0.36rem;color:#fff;text-align:center;line-height:140%;}
.communication h3 span{font-size:0.52rem;color:#fee432;font-weight:bold;}
.communication h3 b{color:#fee432}
.communication ul{width:94%;margin:0 auto}
.communication ul li{float:left;width:48.5%;float:left;margin-top:4%}
.communication ul li:nth-child(even){float:right;}
.communication ul li img{height:2.2rem;}
.communication ul li p{font-size:0.22rem;color:#fff;text-align:center;margin-top:4%;height:1rem;}

.anli_xm{margin: 4% 0;}
.anli_xm ul li a{width: 0.99rem; height: 0.54rem; line-height: 0.54rem; text-align: center; background:#f2f2f2; float: left; margin-right: 0.08rem; margin-bottom: 0.24rem; font-size: 0.24rem; color:#4f4f4f;padding: 0 0.1rem;
}
.anli_xm ul li:nth-child(5n){margin-right: 0;}
.anli_xm ul li a:hover{background-color:#2d0949;color:white}

.video_xm{margin: 4% 0;}
.video_xm ul li a{width: 0.99rem; height: 0.54rem; line-height: 0.54rem; text-align: center; background:#f2f2f2; float: left; margin-right: 0.08rem; margin-bottom: 0.24rem; font-size: 0.24rem; color:#4f4f4f;padding: 0 0.1rem;
}
.video_xm ul li:nth-child(5n){margin-right: 0;}
.video_xm ul li a:hover{background-color:#2d0949;color:white}


.con6{width:100%;padding:2% 0;background:#100726;}
.con6 h1{font-size:0.5rem;text-align:center;color:#fff;}
.con6con{text-align:center;color:#ffebdb;font-size:0.3rem;line-height:0.5rem;font-weight:normal;padding:2% 4% 4%;}
.con6 .con6pic{width: 45%;margin: 2%;float: left;height: 2.8rem;}
.con6 .con6pic p{width:45%;height:0.5rem;color:#fff;position:absolute;font-size: 0.26rem;padding-top: 2%;}
.con6 li{float:left;width:42.7%;padding:3% 3% 4% 4%;}
.con6 li img{display:block;max-height:2rem;min-height:2rem;}
.flipInY{-webkit-backface-visibility:visible!important;backface-visibility:visible!important;animation-name:flipInY;}
.con6 .co{width:100%;color:#ffebdb;font-size:0.26rem;padding-top:2%;line-height:1.4em;font-weight:normal;height:1rem;}


.hospital-section{overflow:hidden;}
.hospital-section .hospital-item{display:flex;padding:0.2rem;background:#fff;margin-bottom:0.2rem;border-bottom:0.01rem solid #ccc;}
.hospital-item .item-img{margin-right:0.32rem;width:30%;padding-top:0.2rem;}
.hospital-item .item-cont{position:relative;-webkit-flex:1;flex:1;z-index:0;overflow:hidden;}
.item-cont .cont-title{font-size:0.3rem;color:#333;}
.ba {font-size: 0.15rem;color: #666;text-align: center;}
@media screen and (min-width:751px) {
	.menu_nav .headerxm .xmfh{width:8%;}
}
