@charset "utf-8";
body:not(.mip-fixedlayer){margin:0 auto!important;padding:0;max-width:960px;min-width:320px;background:#fff!important;overflow-x:hidden;}
body,button,input,select,textarea{color:#505050;font:12px/1.5 Microsoft Yahei;}
html{font-size:15.625vw;background-color: #d7d7d8;}
@media screen and (min-width:640px){
	html{font-size:100px;}
}
p{line-height:1.8;font-size:0.22rem;}
i{font-style:normal;}
em{font-style:normal;}
h1,h2,h3,h4,h5,h6{font-size:20px;}
li,ol,ul{list-style:none;}
a{outline:0;color:#2a2a2a;text-decoration:none;}
fieldset,img{border:0;}
textarea{resize:none;}
img{max-width:100%;display:block;margin:0 auto;}
article,aside,footer,header,nav,section{display:block;overflow:hidden;}
a[title='站长统计']{display:none;}
.left,.fl{float:left;}
.right,.fr{float:right;}
.mr3{margin:0 3%;}
.cb{clear:both;}
.dn{display:none;}
.textc{text-align:center;}
.textl{text-align:left;}
.re{position:relative;}
.ab{position:absolute;}
.over{overflow:hidden;}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;*zoom:1;}
/* 首页头部head */
.topDiv{max-width:960px;overflow:hidden;width:100%;margin:0 auto;background-color:#403748;}
.topDiv .zixun{float:left;width:15%;}
.topDiv .zuoce{float:left;width:70%;color:white;font-size:0.25rem;text-align:center;}
.navA{float:left;width:15%;}
.index_logo img{position:relative;top:0.1rem;height:0.5rem;}
.index_logo{height:0.7rem;}
.topDiv .zixun img {width: 0.7rem; margin-top: 0.16rem; margin-right: 0.2rem;}

/*导航栏部分*/
.newNavs{max-width:960px;height:2.3rem;}
.newNavs .newNav{width:25%;float:left;margin-top:2%;}
.newNavs .newNav a{display:block;margin:0 auto;border-radius:50%;position:relative;z-index:2;border-radius:50%;overflow:hidden;}
.newNavs .newNav a img{margin-left:5%;}
.newNavs .newNav .mip-layout-container{position:static;}
.newNavs .newNav p{color:#000;font-size:0.26rem;font-family:MicrosoftYaHeiUILight;text-align:center;margin-top:-15%;}

/*连锁医院*/
.indexPart2 .title{text-align:center;color:#8F7658;line-height:0.36rem;padding:8% 0 6%;}
.indexPart2 .title P{font-size:0.32rem;}
.indexPart2 .title span{font-size:0.28rem;font-family:MicrosoftYaHeiLight;}
.indexPart2 .list_hos{width:96%;padding:3% 2%;overflow:hidden;box-shadow:0 0 0.15rem 0.05rem rgba(45,45,45,0.1);}
.indexPart2 .list_hos a{float:left;width:24%;height:0.89rem;line-height:0.89rem;font-size:0.26rem;display:block;border-right:#e9e5df solid 1px;border-bottom:#e9e5df solid 1px;text-align:center;}
.indexPart2 .list_hos a:nth-child(4n){border-right:0;}
.indexPart2 .list_hos a:nth-last-child(1){border-bottom:0;}
.indexPart2 .list_hos a:nth-last-child(2){border-bottom:0;}
/* .indexPart2 .list_hos a:nth-last-child(3){border-bottom:0;} */
/* .indexPart2 .list_hos a:nth-last-child(4){border-bottom:0;} */

/*anli*/
.case_box h2{font-size:0.36rem;font-weight:100;color:#8f7658;text-align:center;padding:3% 0 3%;}
.case_index{width:90%;margin:5%;box-shadow:0 0 0.15rem 0.05rem rgba(0,0,0,0.1);overflow: hidden;}
.case_box .mip-carousel-container{top:0!important;}
.case_box .mip-carousel-wrapper{height:auto!important;}
.case_box .text dl{overflow:hidden;padding:2%;}
.case_box .text dl dt{width:22.4%;float:left}
.case_box .text dl dd{width:74%;float:right;position:relative;margin: 0 auto;}
.case_box .text dl dd img{display:block;width:0.59rem;position:absolute;right:3%;top:0.35rem;z-index:1}
.case_box .text h3{width:60%;font-size:0.28rem;font-weight:100;color:#545454;text-align:left;line-height:1.2;margin:2% 5%;}
.case_box .text h3 a{font-size:0.25rem;font-weight: bolder;}
.case_box .text h3 span{display:block;font-size:0.2rem;margin-top:10%}
.case_box .text a{display:block;font-size:0.18rem;color:#836a4b;/* padding:3% 5%; */}
.case_box .text a.case_box_a{padding:3% 5%;}
.case_box .text p{font-size:0.24rem;color:#323232;margin:2% 5%;}
.text-img{float:left;}
.case_box .text ul{overflow:hidden;padding:0;}
.case_box .text ul li{width:48%;float:left;position:relative;}
.case_box .text ul li:first-child{border-right:#e9e5df solid 1px;}
.case_box .text ul li img{width: 2rem;height:2rem;}
.case_box .swiper-pagination{position: relative;}

/*热门头条*/
.index_hot_c{overflow:hidden;margin:8% 0 0 0;height:1.5rem;border-top:10px solid #edebf1;border-bottom:10px solid #edebf1;}
.index_hot_c .left{width:20%;float:left;padding:6% 3%;}
.index_hot_c .left img{width:73.6%;}
.index_hot_c .tg_scroll{margin-top:1%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;line-height:1.6;}
.index_hot_c .tg_scroll a{font-size:0.2rem;display:block;margin-bottom:0.5em;margin-top:0.1rem;}
.index_hot_c .tg_scroll a span{color:red;}

.team_box h2{font-size:0.36rem;font-weight:100;color:#8f7658;text-align:center;padding:8% 0 6%;}
.team_box h2 span{display:block;font-size:0.28rem;}
.team_box .swiper-container{box-shadow:0 0 0.15rem 0.05rem rgba(0,0,0,0.1);}
.team_box #scroll1 a{display:block;font-size:0.3rem;color:#171717;font-weight:bold;padding-top:7%;}
.team_box #scroll1 a .over div{width:48%;}
.team_box #scroll1 a .over .fl{color:#7B2079;border-right:1px solid #C4C4C4;line-height:1.2;text-align:right;width:45%;padding-right:3.5%;}
.team_box #scroll1 a .over .fr{line-height:2.2;}
.team_box #scroll1 a .over strong{font-size:0.48rem;}
.team_box #scroll1 a .over p{font-weight:normal;margin:0 auto;}
.team_box #scroll1 a .over span{font-size:0.36rem}
.team_box #scroll1 .btn{display:block;width:24%;height:0.4rem;line-height:0.4rem;font-size:0.26rem;color:#000;text-align:center;margin:5% auto 0;border:1px solid #B7B7B7;font-weight:normal;border-radius:0.3rem}
.team_box .swiper-pagination{position: relative}
.team_box .swiper-pagination-bullet{border:1px solid #7B2079;margin:3% 2%;}
.team_box .swiper-pagination-bullet-active{background-color:#7B2079!important;}
.item_box h2{font-size:0.36rem;font-weight:100;color:#8f7658;text-align:center;padding:8% 0 6%;}
.item_box h2 span{display:block;font-size:0.28rem;}
.item_box ul{overflow:hidden;box-shadow:0 0 0.2rem 0.05rem rgba(0,0,0,0.2);padding: 0;}
.item_box ul li{width:32%;float:left}
.item_box ul li a{display:block;font-size:0.36rem;color:#fff;position:relative}
.item_box ul li a h3{width:90%;position:absolute;left:4%;top:3%;z-index:1;font-weight:100;line-height:1.2;font-size:0.2rem!important;background-color: rgb(119 117 117 / 63%);overflow: hidden;
    white-space: nowrap;text-overflow: ellipsis;color:#fff;}
.item_box ul li:nth-child(2n+1) a{color:#fff;}
.item_box ul li a span{display:block;font-size:0.28rem;}
.item_box ul li:nth-child(odd) a{color:#fff;}
.item_box .btn{display:block;width:20%;height:0.5rem;line-height:0.5rem;color:#b78a53;text-align:center;border:1px solid #b78a53;border-radius:0.5rem;margin:0.5rem auto 0;font-size:0.32rem;font-weight:100}

.community_box{width:94%;margin:0 auto;}
.community_box .introduce{box-shadow: 0 0 0.15rem 0.05rem rgba(0,0,0,0.1);padding-bottom: 5%;}
.community_box .reality_nav{box-shadow:0 0 0.15rem 0.05rem rgba(0,0,0,0.1);}
.community_box .reality_nav{display:-webkit-flex!important;background:#ccc!important;}
.community_box .reality_nav li{position:relative;padding:0!important;width:8rem!important;height: 0.6rem;line-height: 0.6rem;text-align: center}
.community_box .reality_nav li.on{background:#fff;color:#1c1c1c!important;}
.community_box #scroll2{padding-top:5%;display: none}
.community_box #scroll2.on{display: block}
.community_box h2{font-size:0.36rem;font-weight:100;color:#8f7658;text-align:center;padding:8% 0 6%;}
.community_box .over{width:90%;margin:0 auto}
.community_box .over .fl{width:60%;height:2.5rem;}
.community_box .over .fl img{height:2.5rem;}
.community_box .over .fr{width:40%;height:2.5rem;}
.community_box .over .fr img{height:1.25rem;margin: 0 auto;width: 100%;}
.community_box .over .fr dl:nth-child(1){margin:0 auto;}
.community_box .over dl{position:relative;margin: 0 auto;}
.community_box .over dl dd{margin: 0 auto;width:100%;height:0.5rem;line-height:0.5rem;text-align:center;font-size:0.16rem;color:#fff;background:rgba(114,30,124,0.65);position:absolute;left:0;bottom:0;z-index:1}
.community_box .text{width:90%;margin:0 auto;padding:3% 0}
.community_box .text p{margin: 0 auto;height:0.7rem;line-height:0.7rem;font-size:0.24rem;font-weight:100;color:#505050;overflow:hidden}
.community_box .text p a{display:block;width:70%;float:left;}
.community_box .text p span{display:block;width:30%;float:right}
.community_box .btn{display:block;font-size:0.18rem;color:#9b8972;text-align:center}
.clearfix h3{font-size:0.34rem;}
.about_box{margin-top:2%;height:4.3rem;background:url("../../image/about_box1.jpg") no-repeat top center;background-size:110%;padding-top:5%}
.about_box .w20{width:94%;margin:0 auto;}
.about_box h3{font-size:0.3rem;font-weight:100;color:#fff;text-align:left}
.about_box h3 span{color:#c79b64}
.about_box p{font-size:0.2rem;color:#fff;margin-top:3%;line-height:1.5;}

/*foot*/

/* footer{margin:0.5rem 0 1rem;} */
.end ul{width:80%;display:flex;margin:5% auto 10%}
.end ul li{flex:1;height:0.3rem;line-height:0.25rem;font-size:0.25rem;font-weight:100;color:#ffffff;text-align:center;border-right:1px solid #ffffff;}
.end ul li:last-child{border-right:0}
.end ul li a{color:#ffffff;}
.Mylike h3{font-size:0.5rem;color:#943ebe;line-height:1.3;text-align:center;}
.Mylike h3 p{font-size:0.3rem;font-weight:normal;color:#000}
.Mylike h3 span{display:block;font-size:0.25rem;color:#d4d4d4;font-weight:normal}
.Mylike ul li p{font-size:0.25rem;font-weight:bold;color:#333;margin-bottom:1%}
.Mylike ul li p img{display:inline-block;width:0.3rem;vertical-align:middle}
.Mylike ul li:nth-child(2) p{font-size:0.23rem;color:#666;font-weight:normal}
.Mylike-foot{padding:1rem 0;background-color:#2c0949;margin-top:0.3rem;margin-bottom:0.4rem;}
.Mylike{padding:0.2rem 0;background-color:#2c0949;margin-top:0.3rem;margin-bottom:0.4rem;}
.end{margin-top:0.35rem;}
.searchin{width: 50%; height: 0.4rem;} 
.right_txt{display: inline-block;
    background: url(../../image/guanbi.svg)no-repeat;height: 55%;display: block;
    width: 10%;
    position: absolute;
    left: 86%;
    top: 28%;
    z-index: 36;}

.sosuo{ background: url(../../image/sousuo.svg)no-repeat;height: 40%;display: block;
    width: 10%;
    position: absolute;
    left: 69%;
    top: 40%;
    z-index: 3699;}
 #local-search-input{padding-left: 5px;}
 .search-result-list{width: 94%;
    margin: 4% auto;
    border-bottom: 1px solid #e5e5e5;}
.search-result-list dl{overflow: hidden;
        margin-bottom: 5%;
        background: #fff;
        padding: 0.1rem;}
.search-result-list dl dt{width: 35%;
    float: left;}
 .search-result-list dl dd{width: 57%;
        float: right;
        padding-right: 3%;}    
.search-result-list dl dd h4{font-size: 0.25rem;
    color: #333333;
    font-weight: normal;
    margin-bottom: 2%;} 
    .search-result-list dl dd p{font-size: 0.2rem;
        color: #666;}      
 .xuanxian{margin-top: 0.3rem;
    width: 100%;
    display: inline-block;
    height: auto;
    padding-left: 0.15rem;}   
 .xuanxian li{width: 20%!important;
    padding: 2% 1.4%!important;
    line-height: inherit;
    height: inherit;
    display: inline-block;
    cursor: pointer;
    z-index: 99;
   
    font-size: 0.28rem;;
    margin: 0 1% 0 0;
    margin-left: 0px;
    text-align: center;
    color: #333333;
    background: #fff;}
.xuanxian .tabFocus{background: #6a0b75;color: #fff!important;}        
/*右侧悬浮*/
.right_c{position:fixed; z-index: 100; right: 1%; top: 25%; width: 0.86rem;}
.right_c a{display:block; margin-bottom: 0.24rem;}
.right_c a img{width: 75%;}
.ba {font-size: 0.15rem;color: #666;text-align: center;}
@media screen and (max-width:640px){
	.item_box ul li{height: 85px;margin-left: 0.3em;
        margin-bottom: 5px;}
    .end{margin-top:0px!important;}
    .item_box ul li img{height: 85px;}
	} 
    @media screen and (min-width:400px) and (max-width:640px){
    .item_box ul li{height: 125px;margin-left: 0.42em;
        margin-bottom: 5px;} 
    .item_box ul li img{height: 125px;}       
    }        
@media screen and (min-width:641px){
	.hos_foot{display:none;}
	.Mylike-foot{margin-bottom: 0px!important;}
    .Mylike{margin-bottom: 0px!important;}
	}
    @media screen and (min-width:710px){
        .index_hot_c .left{padding: 2% 3%;}
        }
        @media screen and (min-width:710px) and (max-width:800px){
            .index_hot_c .left{padding: 3% 3%;}
            }
@media screen and (min-width:641px) and (max-width:750px){
    .jpList .swiper-slide strong{margin-left:0.3rem;}
    .jpList .swiper-slide em{margin-left:0.3rem;}
    .item_box ul li{height:150px;margin-left: 0.6em;
        margin-bottom: 8px;}
    .item_box ul li img{height: 150px;}
                }
@media screen and (min-width:751px){
    .jpList .swiper-slide strong{margin-left:0.5rem;}
    .jpList .swiper-slide em{margin-left:0.5rem;}
    .item_box ul li{height: 165px;margin-left: 0.7em;
        margin-bottom: 5px;} 
    .item_box ul li img{height: 165px;}  
                    } 
 @media screen and (min-width:831px){
  .jpList .swiper-slide strong{margin-left:0.6rem;}
  .jpList .swiper-slide em{margin-left:0.6rem;}
  .item_box ul li{height: 215px;margin-left: 0.75em;
    margin-bottom: 5px;} 
.item_box ul li img{height: 215px;}  
  }
 @media screen and (max-width:430px){
    .list_anli ul li p{
    padding-left: 0.2rem;
    padding-top: 0.2rem;
    font-size: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;}
 }
 .tan {width: 100%;
       height: 100%;
       background-color: #e8e8e8;
       position: fixed;
       margin-top: -0.9rem;
       margin-bottom: 5px;;
       display: none;
       z-index: 999;
       max-width:960px;
 }    
 .item_box ul li img{width:100%;}
.text-fenye{max-width: 810px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;} 
    .page-navigator {
        display: inline-block;
        padding-left: 0;
        margin: 20px 0;
        border-radius: 4px;
    }
    .page-navigator>a:first-child, .page-navigator>span:first-child {
        margin-left: 0;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    .page-navigator a {
        color: #7d7979;
        border: 1px solid #ddd;
        float: left;
    padding: 6px 12px;
    margin-left: -1px;
    text-decoration: none;
    background-color: #fff;
    font-size: 12px;
    } 
    .page-number {
        float: left;
        margin-left: -1px;
        color: #fff;
        text-decoration: none;
        padding: 6px 12px;
        font-size: 12px;
    }
    .page-navigator>a:last-child, .page-navigator>span:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    .fenye-left {
        display: inline-block;
        background: url(../../image/left.svg)no-repeat;
        height: 12px;
        width: 12px;
        vertical-align: -2px;
    }     
    .fenye-right {
        display: inline-block;
        background: url(../../image/right.svg)no-repeat;
        height: 12px;
        width: 12px;
        vertical-align: -2px;
    }                                                          
    .current {
        background-color: #6a0b75;
        color: #fff;
        border: 1px solid #ddd;
        border-color: #6a0b75;
    }
    .wxtan{
        width:71%;
        height:180px;
        background-color:#e8e8e8;
        position:fixed;
        left:14.55%;
        bottom: 28%;
        display:none;
        z-index: 200;
    }
    .kuang{
        height:100px;
        text-align:center;
        padding: 20px 0 0 0;
		font-size:16px;
    }
    .txtcss{
        color:red;
        font-weight:800;
        font-size:20px;
    }
    .copy{
        font-size: 16px;
        float: left;
        background-color: #6a0b75;
        padding: 5px 20px;
        
        border-radius: 5px;
    }
    .copy a{color: white;}
    .guanbi{
	    float:right;
        width:20px;
        height:20px;
        color:red;
        margin-top:-116px;
		font-size: 20px;
    }
 #content-list p{
     overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;}