 @import url(fontello.css) screen;
body{font-family: "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1",'微软雅黑';}

a{text-decoration: none;}
.img img{width: 100%; display: block;}
* {padding: 0;margin: 0;list-style: none;border: none;font-weight: normal;font-style: normal;text-decoration: none;outline: none;font-family: "microsoft yahei", "微软雅黑";}
.clearfix:after {display: block;content: "";width: 100%;height: 0;fotn-size: 0;clear: both;}
.fl{float:left;}
.fr{float:right;}

.from_yb{display:none;}

#header_nav,#header{height: 5rem; width: 100%;}
#header_memu{background: #000; height: 5rem; width: 100%; position:fixed; z-index: 2147483640; left:0px; top:0px;}
#header_memu #header_memu_left{font-size: 1.8rem; color: #fff; line-height: 5rem; margin-left: 1.6rem; position: absolute; font-weight: 100;color: #dbb374;}
#header_memu #header_memu_left i{font-weight: 100;}
#header_memu #header_menu_content{width:14rem; margin:auto;}
#header_memu #header_menu_content #logo{display: table-cell; vertical-align:middle; height: 5rem; width: 100%;}
#header_memu #header_menu_content #logo img{width: 100%;vertical-align:middle;}
#header_memu #header_menu_right{float: right; height:5rem; position:absolute; line-height: 5rem; right: 1.5rem; top:0; width:2rem;}
#header_memu #header_menu_right a{color: #fff;display:block; font-size:2rem; position: relative;}
#header_memu #header_menu_right a img{ width:100%; vertical-align:middle;}
#header_memu #header_menu_right em{width: 0.35rem; height: 0.35rem; background: red; border-radius: 50%; display: block; top: -3.9rem; margin-left: 1.8rem; position: relative;}

#header_nav_top{font-size: 1.5rem; color: #fff; line-height: 5rem; font-weight: 100; background: #000; border-bottom: 1px solid #b3b3b3;}
.header_nav_top_close{ width:8%; float:left; padding-top:1.5rem; margin-left:1rem;}
.header_nav_top_close img{ width:100%; display:block; max-width:35px;}
#header_nav_top i{font-weight: 100; background: url("../images/header_nav_top_home.png") no-repeat center; background-size:100% 100%; display: inline-block; text-decoration: inherit; width:1.8rem; margin-right: .4rem; text-align: center;font-variant: normal; text-transform: none; line-height: 1rem; margin-left: .2rem; height:1.8rem; float:left;}
#header_nav_top a{color:#ffffff; margin-left:10rem; height:1.8rem; line-height:1.8rem; display:inline-block; font-size:1.8rem;}

#header_nav_box{position: fixed; top: 0px; right: 0px; bottom: 0px; left: 0px; background: rgba(0,0,0,0.4);display: none; width: 100%;z-index: 2147483643}
#header_nav_left{background: #fff; width: 75%; bottom: 0px; position: absolute; background: #424242; top: 0px; left: -100%;left: 0px;}
#header_nav_content{position: absolute; top: 5rem; bottom: 0px; right: 0px; left: 0px;overflow-x: hidden; border-top: 1px solid #b3b3b3;}
.header_nav_title ul{padding: 0px; margin: 0px; /*border-bottom: 1px solid #b3b3b3;*/}
.header_nav_title li{list-style: none;}
.header_nav_title h2,.header_nav_title h3,.header_nav_title h4{font-weight: 100;margin: 0px; text-indent: 1.6rem; font-size:1.3rem;}
.header_nav_title h2 a,.header_nav_title h3 a,.header_nav_title h4 a{color:#333;}
.header_nav_title h2{height: 4.5rem; line-height: 4.5rem; background: #000; color: #fff; border-bottom: 1px solid #707070;}
.header_nav_title h2 i{float: right; margin-right: 1.5rem; font-size: 1.5rem;}
.header_nav_title h2.on{background: #000; color: #fff; position: relative; border-bottom: none;}
.header_nav_title h2.on:before{border: 0.5rem solid transparent;border-bottom: 0.5rem solid #fff;width: 0;height: 0;position: absolute;content: ' ';bottom:0rem;left: 3.6rem;}
.header_nav_title h2.on i:before {content: '\e801';}
.header_nav_title.header_link h2{background: #424242;}
.header_nav_title.header_link h2 a{display:block; color:#fff;}

#header_nav_top{width: 100%;height:auto !important;}
.header_nav_li{background: #fff; display: none;}
.header_nav_li h3{height: 4.5rem; line-height: 4.5rem; background: #fff; color: #000; border-bottom: 1px solid #707070;}
.header_nav_li h3.on{border-bottom: none;}
.header_nav_li h3 i{float: right; margin-right: 1.5rem; font-size: 1.5rem;}
.header_nav_li h3.not a{display:block; width:100%;}
.header_nav_li.on h3{background: #000; color: #fff; position: relative; border-bottom: none;}
.header_nav_li.on h3:before{border: 0.5rem solid transparent;border-bottom: 0.5rem solid #fff;width: 0;height: 0;position: absolute;content: ' ';bottom:0rem;left: 3.6rem;}
.header_nav_title h3.on i:before {content: '\e801';}
.header_nav_li ul li dl{background: #e8e8e8; margin: 0px; display: table; width: 100%; padding-bottom: 1rem; display: none; padding-left: 1.5%;}
.header_nav_li ul li dl:before{content: " ";}
.header_nav_li ul li dl.on{display: table;}
.header_nav_li ul li dl a{width: 30%;margin: auto;margin: 1rem 1% 0px 1%;display: inline-block;text-align: center;padding: 0.6rem 0px;border-radius: 10px;font-size: 1.1rem;color: #666; border:1px solid #666;box-sizing: border-box;-webkit-box-sizing: border-box; -moz-box-sizing: border-box;}

@media screen and (max-width: 720px){
	.header_nav_li ul li dl a{font-size: 1rem;}
}
@media screen and (max-width: 720px){
	.header_nav_li ul li dl a{font-size: 0.9rem;}
}
@media screen and (max-width: 420px){
	.header_nav_li ul li dl a{font-size: 1rem;width: 46%;margin: 1rem 2% 0px 2%; margin: 1rem 1% 0px 1%;border-radius: 7px;}
}

#header_menu_link{position: relative; z-index:9999;}
#header_menu_link ul{display: table; width: 100%;background: #ededed; padding-top: 0.7rem; padding-bottom: 0.45rem; z-index: 99999;}
#header_menu_link ul li{float: left; width: 25%; text-align: center;}
#header_menu_link ul li a{height: 2rem; line-height: 2rem; display: inline-block; font-size: 1.1rem; border-radius: 8px; padding: 0px 0.6rem; margin-bottom: 0.45rem; color: #666;}
#header_menu_link ul li.on a{background: #333333; color: #fff;}
#header_menu_link #header_menu_link_open{display:inherit; margin: auto; width:5rem; text-align: center; height: 1.6rem; line-height: 1.6rem; background: #ededed; border-bottom-left-radius:8px; border-bottom-right-radius:8px; padding: 0.2rem 0px; position: absolute; left: 50%; margin-left: -2.5rem; z-index: 99999;}
#header_menu_link #header_menu_link_open i{position: absolute; margin-left: -0.5rem;}

.banner_ad{width:100%;overflow:hidden;}
.banner_ad a img{display:block; width:100%;}
.banner_ad a {display:block;}

.tit_in_line {
  position: relative;
  text-align: center;
}
.tit_in_line span {
  font-size: 1.6rem;
  line-height: 1.5em;
  display: inline-block;
  background: #fff;
  position: relative;
  z-index: 2;
  color: #000;
  padding: 0 1.4rem;
}
.tit_in_line span b {
  color: #dbb374;
}
.tit_in_line:before {
  content: "";
  z-index: 1;
  width: 100%;
  border-bottom: 2px solid #000;
  position: absolute;
  top: 50%;
  left: 0;
}
/*customer care*/
.customer_care{ width: 57%; padding-bottom: 2.5rem; margin: 0 auto;}
.customer_care h1{ font-size: 1.5rem; color: #4f4f4f; font-weight: normal; margin-left: 0.9375rem; }
.customer_care h1:after{ content: ''; display: block; width: 80%;  border:1px dashed #414141; margin-top: 1.5rem; }
.care_arc{ margin: 2.0rem 0.0rem 3.125rem; font-size: 1.375rem; color: #6b6b6b; cursor: pointer; }
.care_arc li{ margin-top: 0.375rem; }
.care_arc li a{font-size: 1.375rem; color: #6b6b6b;}
.care_arc span{ display: inline-block; width: 1.875rem; height: 1.9375rem; line-height: 1.9375rem; text-align: center; border-radius: 50%; background: #dbb375; margin-right: 0.75rem; }
.care_arc li a:hover{color: #dbb375; }
.next_care a{ display: block; width: 12.3125rem; height: 3.5rem; margin: 0 auto; background: #dbb375; color: #fff; line-height: 3.5rem; text-align: center; border-radius: 1rem; font-size: 1.5rem; }
/*customer care END*/

/*footer*/
#footer {
  background:#232323;
  padding-bottom:130px; margin-top:20px;
}
#footer a {
  display: block;
}
#footer img {
  width: 100%;
}
#footer .lr_padding {
  padding:2rem 0.8rem 1.5rem;
  background:#fff;
}
#footer .lr_padding .footer_icon_list {
  margin-top: 1rem;
}
#footer .lr_padding .footer_icon_list li {
  float: left;
  width: 25%;
  text-align: center;
}
#footer .lr_padding .footer_icon_list li img,
#footer .lr_padding .footer_icon_list li b {
  width: 90%;
  display: block;
  margin: 0 auto;
}
#footer .lr_padding .footer_icon_list li b {
  font-size: 1.2rem;
  line-height: 1.5em;
  color: #333;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#footer .footer_detail_info img {
  width: 100%;
  display: block;
}

/*滚动案例样式.eg_tab*/
.eg_tab{
	position:relative;
}
.eg_tab .tit_in_line{
	margin:1.5rem;
}
.eg_tab .eg_big_img li {
  width: 100%;
  position: relative;
}
.eg_tab .eg_big_img li a{
	display:block;
}
.eg_tab .eg_big_img li img {
  width: 100%;
  display: block;
}
.eg_tab .eg_big_img li a.btn_eg {
  width: 5.75rem;
  height: 5.75rem;
  display: block;
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  margin-left: -2.7rem;
  background: url("../images/btn_eg.png") no-repeat center;
  background-size: contain;
}
.eg_tab .eg_thumb {
  margin-top: 1rem;
}
.eg_tab .eg_thumb li.swiper-slide {
  width: 25%;
  text-align: center;
}
.eg_tab .eg_thumb li.swiper-slide img {
  width: 80%;
  display: inline-block;
}
.eg_tab .eg_thumb .swiper-slide {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}
.eg_tab .eg_thumb .swiper-slide-active {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
}
.eg_tab .eg_thumb .swiper-slide-active:before {
  width: 0;
  height: 0;
  content: '';
  position: absolute;
  top: -0.65rem;
  margin-left: -0.7rem;
  left: 50%;
  border-right: 0.7rem solid transparent;
  border-bottom: 0.7rem solid #424242;
  border-left: 0.7rem solid transparent;
}

/*整行查看更多按钮*/
.wrapper b.btn_more.all_line {
  color: #888;
  background:#424242;
  border:1px solid #424242;
  font-size: 1.2rem;
  line-height: 2.8rem;
  display: block;
  width:auto;
  text-align: center;
}
.wrapper .btn_more.all_line a{
	color: #dbb374;
}
.wrapper .btn_more.all_line.black {
	background:#424242;
	border:1px solid #424242;
}
.wrapper .btn_more.all_line.white {
	background:#fff;
	border:1px solid #dbb374;
}
.wrapper .btn_more.all_line i {
  margin-left: 0.2rem;
}
.wrapper .btn_more.all_line i:before {
  margin: 0;
  border: 1px solid #dbb374;
  border-radius: 100%;
}
.page-number {
	margin-left: 8px;
    font-size: 16px;
}
.prev {
	margin-left: 8px;
    font-size: 16px;
}
.next {
	margin-left: 8px;
    font-size: 16px;
}



.footerLink {
	text-align: center;
	height: 100%;
	overflow: hidden;
}

.footerLink .a_wrap {
	display: block;
	height: 40px;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -66px;
	margin-top: -30px;
}



.footerLink1 {
	width: 26%;
	height: 100%;
	background-color: #2f281e;
}

.footerLink1 .a_wrap {
	margin-left: -48px;
}

.homeIcon {
	background: url(/static/images/footer_icon_home.png) no-repeat;
}

.footerLink2 {
	width: 37%;
	height: 100%;
	background-color: #dbb374;
}

.swtIcon {
	background: url(/static/images/footer_icon_message.png) no-repeat;
}



.footerLink3 {
	width: 37%;
	height: 100%;
	background-color: #dbb374;
	background: url("/static/images/footer_icon_line.png") no-repeat center right #dbb374;
	background-size: contain;
}

.phoneIcon {
	background: url(/static/images/footer_icon_tel.png) no-repeat;
}

.footerLink .icon_img {
	width: 60px;
	height: 60px;
	display: inline-block;
	background-size: contain;
	-webkit-background-size: contain;
	-moz-background-size: contain;
}

.footerLink em {
	display: inline-block;
	font-size: 18px;
	line-height: 60px;
	margin-left: 65px;
}

@media screen and (min-width: 320px) and (max-width: 900px) {
	/*.footer_swt {
		height: 58px;
	}*/

	.footerLink .a_wrap {
		height:35px;
		margin-left: -54px;
		margin-top: -17px;
	}

	.footerLink1 .a_wrap {
		margin-left: -37px;
	}

	.footerLink .icon_img {
		width:35px;
		height:35px;
	}

	.footerLink em {
		font-size: 16px;
		line-height:35px;
		margin-left:37px;
	}

	.swtIcon_Counter {
		width: 14px;
		height: 14px;
		line-height: 13px;
		font-size: 9px;
	}
}
/*.headroom_unpinned{ position:fixed; -webkit-animation-name:slideUp; -moz-animation-name:slideUp; -o-animation-name:slideUp; animation-name:slideUp;}
.headroom_pinned{ position:fixed; -webkit-animation-name:slideDown; -moz-animation-name:slideDown; -o-animation-name:slideDown; animation-name:slideDown;}*/



/*底部固定导航样式*/
.fix-footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 100;
    background: #FFF;
    box-shadow:1px 1px 10px #000;
    min-width:320px;
  height:60px; left:0;

}
.fix-footer ul{ max-width:640px; margin:0 auto;}
.fix-footer ul li{
    float: left;
    width: 27.5%; height:60px;
    background-color: #b9955a;
}
.fix-footer ul li.new-sy,.fix-footer ul li.new-xm,.fix-footer ul li.new-yh{
  width: 15%;
  border-right: 1px solid #8d8d8d;
  background-color: #222c3c;
  box-sizing:border-box;
}

.fix-footer ul li.new-tw{
  background-color: #784616;
}
.fix-footer>ul>li.new-sy a,.fix-footer>ul>li.new-xm a,.fix-footer>ul>li.new-yh a{
    display: block;
    float: left;
    width: 100%;
    line-height:24px;
    text-align: center;
    font-size:14px;
    color:#fff; padding-top:6px;
}
.fix-footer>ul>li.phone a,.fix-footer>ul>li.new-tw a{
    display: block;
    float: left;
    width: 100%;
    line-height:24px;
    text-align: center;
    font-size:14px;
    color:#fff; padding-top:4px;
}
.fix-footer ul li.new-sy a img,.fix-footer ul li.new-xm a img,.fix-footer ul li.new-yh a img{ width:42%; display:block; margin:0 auto; max-width:29px; min-width:26px;}
.fix-footer ul li.new-xm a img{max-width:19px; min-width:22px;}
.fix-footer ul li.phone a img,.fix-footer ul li.new-tw a img{ width:27%; display:block; margin:0 auto; max-width:32px; min-width:27px;}
.fix-footer ul li.phone a img{max-width:25px; min-width:23px; padding-top: 4px;}
.fix-footer ul li.new-tw a img{max-width:32px; min-width:33px;}


/*绿色按钮*/
#rbutton {
    position: fixed;
    right: 0px;
    top: 60%;
    width: 80px;
    height: 80px;
    transition: right 1s;
    z-index: 999;
}
#rot {
    position: absolute;
    top: 0px;
    left: 0px;
    animation: rot 8s linear infinite;
}
/*circle[Attributes Style] {
    r: 33;
    cx: 40;
    cy: 40;
    stroke: green;
    stroke-width: 1;
    fill: transparent;
}
circle[Attributes Style] {
    r: 5;
    cx: 35;
    cy: 6;
    fill: green;
}
circle[Attributes Style] {
    r: 26;
    cx: 50%;
    cy: 50%;
    fill: green;
}*/
#rot2 {
    position: absolute;
    top: 0px;
    animation: rot 12s linear infinite;
    left: 0px;
}
/*circle[Attributes Style] {
    r: 33;
    cx: 40;
    cy: 40;
    stroke: green;
    stroke-width: 1;
    fill: transparent;
}
circle[Attributes Style] {
    r: 6;
    cx: 6;
    cy: 40;
    fill: green;
}*/
/*@-webkit-keyframes rot{
    0%{
        -webkit-transform:rotatez(0deg) rotatez(180deg);
    }

    100%{
        -webkit-transform:rotatez(180deg)  rotatez(360deg);
    }
}*/
#rbutton .in a {
    position: absolute;
    left: 25px;
    top: 25px;
    width: 30px;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    line-height: 1;
    font-size: 12px;
    text-decoration: none;
    color:#fff;
}
.wrapper.article .b_tit {
    font-size: 1.5rem;
    line-height: 1.5em;
    max-width:100%;
	color: #333;
}
.head_navi_title {
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.7rem 0;
    border-bottom: 1.5px solid #e5e5e5;
	padding-left:5px;
}
@media (min-width: 769px)  {
  .wrapper.article .b_tit {
    font-size: 1.5rem;
    line-height: 1.5em;
    text-align: center;
	color: #333;
 }
}	

.article {
	max-width:900px;
    margin: 0 auto;
    font-size: 16px;
	margin-bottom: 40px;
}
.article img {
	max-width:570px;
	margin: 0 auto;
}
	
.article_con {
	margin-top: 5px;
	font-size:16px;
	color: #333;
}
.article_con p {
	padding-top:16px;
}
.tit1 {
	width:160px;
	margin: 0 auto;
}
.shijian {
	margin: 0 auto;
}
.xsms {
	max-width:1046px;
	margin-bottom: 40px;
	margin:0 auto;
}